<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guiftapps.calculadora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Title_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.EditSubjectActivity" />
        <activity
            android:name=".View.BimestralActivity"
            android:label="Nota bimestral"/>
        <activity
            android:name=".View.SubjectActivity"
            android:label="Adicionar matéria"/>
        <activity
            android:name=".View.CalcularActivity"
            android:label="@string/Calc_Screen"/>

        <activity
            android:name=".View.InformacaoActivity"
            android:label="@string/Infor_Screen"/>

        <activity
            android:name=".View.MainActivity"
            android:label="@string/Main_Screen"
            android:theme="@style/NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2865932856120238~9749752037" />

        <receiver android:name=".Model.BroadCastReceiverClass" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>